{% extends "layout.html" %}
{% block scripts %}
    <script src="/js/chart.min.js"></script>
    <script>
        var data = {{ json|safe }};
    </script>
    <script src="/js/charts.js"></script>
{% endblock %}

{% block body %}
<h3><a href="{{ url }}" target="_blank">{{ url }}</a></h3>
<h3>Tweets Last Hour</h3>
<div>
    <canvas id="twitterChart" width="800" height="400"></canvas>
</div>
<h3>Facebook Last Hour</h3>
<div>
    <canvas id="facebookChart" width="800" height="400"></canvas>
</div>
<h3>Tweets Last Two Days</h3>
<div>
    <canvas id="twoDayTwitterChart" width="800" height="400"></canvas>
</div>
<h3>Facebook Last Two Days</h3>
<div>
    <canvas id="twoDayFacebookChart" width="800" height="400"></canvas>
</div>
{% endblock %}
