{% extends "layout.html" %}
{% block body %}
    <!--
    <div class="jumbotron">
      <div class="container">
        <h1>Hey, Axel Springer AG</h1>
        <p>I hear you want to track when your pages are meantioned on social media. I hacked together this demo site to do just that!</p>
        <p>By <a href="https://twitter.com/tarnacious" target="_blank">@tarnacious</a> from <a href="https://twitter.com/retresco" target="_blank">@retresco</a> engineering, wir lieben sprechen und Daten</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    -->
 <div class="container">
     <p>Seen {{ tweets_alltime }} links in tweets, {{ tweets_hour }} in the last hour. Seen {{ facebook_alltime }} changes in facebook statistics, {{ facebook_hour }} in the last hour.</p> 
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-md-6">
              <h2>Last hour on Twitter</h2>
              <div class="media">

                  {% for event in hot_tweets %}
                  <a class="pull-left" href="{{ url_for("details", url=event.url) }}">
                      {{ event[1] }}
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading"><a href="{{ event.url }}" target="_blank">{{ event.url | shortenurl }}</a></h4>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <div class="col-md-6">
              <h2>Last hour on facebook</h2>
              {% for event in hot_facebook %}
              <a class="pull-left" href="{{ url_for("details", url=event.url) }}">
                  {{ event[1] }}
              </a>
              <div class="media-body">
                  <h4 class="media-heading"><a href="{{ event.url }}" target="_blank">{{ event.url | shortenurl }}</a></h4>
              </div>
              {% endfor %}
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <h2>Bild Last hour on Twitter</h2>
              <div class="media">

                  {% for event in hot_bild %}
                  <a class="pull-left" href="{{ url_for("details", url=event.url) }}">
                      {{ event[1] }}
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading"><a href="{{ event.url }}" target="_blank">{{ event.url | shortenurl }}</a></h4>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <div class="col-md-6">
              <h2>The Age Last hour on Twitter</h2>
              {% for event in hot_theage %}
              <a class="pull-left" href="{{ url_for("details", url=event.url) }}">
                  {{ event[1] }}
              </a>
              <div class="media-body">
                  <h4 class="media-heading"><a href="{{ event.url }}" target="_blank">{{ event.url | shortenurl }}</a></h4>
              </div>
              {% endfor %}
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <h2>Welt Last hour on Twitter</h2>
              <div class="media">

                  {% for event in hot_welt %}
                  <a class="pull-left" href="{{ url_for("details", url=event.url) }}">
                      {{ event[1] }}
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading"><a href="{{ event.url }}" target="_blank">{{ event.url | shortenurl }}</a></h4>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <div class="col-md-6">
              <h2>Spiegel Last hour on Twitter</h2>
              {% for event in hot_spiegel %}
              <a class="pull-left" href="{{ url_for("details", url=event.url) }}">
                  {{ event[1] }}
              </a>
              <div class="media-body">
                  <h4 class="media-heading"><a href="{{ event.url }}" target="_blank">{{ event.url | shortenurl }}</a></h4>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>

      <hr>

              {% endblock %}
